<div class="empty-screen">
    <div class="empty-screen-wrapper">
    
        <i class="ph ph-hammer"></i>
        <div class="empty-screen-title">
            No Helpers have been added for the society

        </div>
        <div class="empty-screen-subtitle">
            Add the first helper to the society
        </div>
        <div>
            <button class="empty-screen-button" (click)="handleClick()"><i class="ph ph-plus"></i> Add New Helper</button>
        </div>
    </div> 
</div>

    